[user]
	email = jprekz@users.noreply.github.com
	name = jprekz

[core]
	filemode = false
	autocrlf = input

[alias]
	st = status
	co = checkout
	sw = switch
	# from https://blog.toshimaru.net/git-log-graph/
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[ghq]
	user = jprekz
